# Configuración de Base de Datos PostgreSQL
db.host=localhost
db.port=5432
db.name=crudpark
db.user=postgres
db.password=tu_contraseña

# Configuración de la Aplicación
app.name=CrudPark - Crudzaso
app.grace_period_minutes=30
